@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.rtl-text {
  font-family: system-ui, sans-serif;
}
